#header {
  height: 64px;
  background: #fff;
  position: fixed;
  header: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

  h1#logo {
    float: left;
    margin: 0;

    a {
     background: url(/img/angular2-logo1.png) no-repeat top left;
     width: 150px;
     height: 70px;
     margin: 3px;
     display: block;
     text-indent: -9999px;
   }
  }

  .color {
    display: block;
    height: 4px;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(195, 30, 30, 0.9) !important;
  }

  #menu {
    float: left;
    padding: 17px 40px 0 0;
    margin-top: 10px;
    .btn {
      border: none;
      box-shadow: none;
    }
  }

  .auth-menu {
    float: right !important;
  }
}

.router-link-active {
  color: #C83434;
  text-decoration: underline;
}
