@mixin alert-image($bgColor, $img, $borderColor) {
    background: $bgColor url($img) no-repeat 10px 12px;
    background-position-y: 15px;
    border: 1px solid $borderColor;
}

.alert {
    box-shadow: 2px 2px 2px #999;
    text-align: left;
    padding-left: 30px;
}

.alert-success {
    @include alert-image(#e9ffd9, 'img/icons/alert/success.png', #a6ca8a);
}

.alert-danger {
    @include alert-image(#ffecec, 'img/icons/alert/error.png', #f5aca6);
}

.alert-warning {
    @include alert-image(#fff8c4, 'img/icons/alert/warning.png', #f2c779);
}

.alert-info {
    @include alert-image(#e3f7fc, 'img/icons/alert/notice.png', #8ed9f6);
}
